.note-header
  .note-header__logo
    = link_to root_path do
      = image_tag 'clonote_logo.svg'
  .note-header__buttons
    %button#public-setting-button{ type: 'button' }
      公開設定
    = f.submit '下書き保存', id: 'submit_draft'
.note-container-wrapper
  .note-container
    %label.note-container__image-overlay
      = f.file_field :header_image, style: "display: none;"
      .note-container__header-image{ style: "background-image: url('#{note.header_image.url ? note.header_image : ''}')" }
        .fa.fa-picture-o.fa-2x
    .note-container__title
      = f.text_field :title, placeholder: 'ノートタイトル'
    .note-container__body
      = f.text_area :body, placeholder: 'ノート本文'
.note-public-setting-wrapper
  .note-public-setting
    .note-public-setting-header
      公開設定
    .note-public-setting-container
      .note-public-setting-container__sale-setting
        %span{ style: 'font-weight: bold;'}
          販売価格
        &nbsp;
        #price-field
          = f.number_field :price, value: '100', min: '100', max: '10000', id: 'price-field__number'
          円
        %label
          無料
          = f.radio_button :price, '0', checked: true
        &nbsp;
        %label
          有料
          = f.radio_button :price, '', id: 'price-pay'
      .note-public-setting-container__detail-setting
        .detail-setting
          .detail-setting__header
            %span{ style: 'font-weight: bold;' }
              詳細設定
            %span
              （ハッシュタグ、マガジン）
          .detail-setting__container
            %label.detail-setting__hashtag-content
              %p
                ハッシュタグ
              %ul#note-tags
                - note.tag_list.each do |tag|
                  %li
                    = tag
            .detail-setting__magazine-content
              %p
                マガジン
              .magazine-content-field
                = f.collection_check_boxes :magazine_ids, current_user.magazines, :id, :title, include_hidden: false do |t|
                  = t.label(class: 'magazine-content-field__checkbox') { t.check_box + t.text }
    .note-public-setting-footer
      .note-public-setting-footer__buttons
        %span{ data: { remodal: { action: 'close' } } }
          キャンセル
        = f.submit '公開', id: 'submit_public'
        