.note-list-container
  - notes.each do |note|
    .note-list-container__content
      - if note.header_image.url
        = link_to note_path(note) do
          .note-list-container__header-image{ style: "background-image: url('#{note.header_image}')" }
      .note-list-container__user-name
        = link_to user_path(note.user.noteid) do
          .note-list-container__profile-image{ style: "background-image: url('#{note.user.image.url ? note.user.image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_profile.png'}')" }
        .note-list-container__profile
          %p{ style: 'font-weight: bold;' }
            = link_to note.user.nickname, user_path(note.user.noteid)
          %p{ style: 'color: #a1a6a9; font-size: 9px;' }
            = note.created_at_jp
        - if note.price > 0
          #likes-button-label
            = "¥#{note.price}"
      .note-list-container__title
        = link_to note_path(note) do
          = note.title
      .note-list-container__body
        = note.body.truncate(200)
      .note-list-container__action
        .note-list-container__favorite-action{ style: "#{note.user.favorite?(note) ? 'color: #EDC500;' : 'color: #898D8C;'}"}
          = render 'favorites/favorite_button', note: note
        .note-list-container__view-count
          .fa.fa-eye.fa-lg
          = note.views
        .note-list-container__comment-action
          = link_to "#{note_path(note)}#comment" do
            %span
              コメント
            = note.comments.count
            %span
              件
