= render 'main_header' do
  .main-header__inner-bottom
    %ul.category-tabs
      = link_to '/' do
        %li おすすめ
      = link_to '/' do
        %li マンガ
      = link_to '/' do
        %li コラム
      = link_to '/' do
        %li 小説
      = link_to '/' do
        %li 写真
      = link_to '/' do
        %li 音楽
    %ul.trend-hashtags
      = link_to '/' do
        %li #test_hash1
      = link_to '/' do
        %li #test_hash2
.main-container
= render 'layouts/footer'
