.main-header
  = render 'main_header'
.draft-container
  .draft-container-wrapper
    - @notes.each do |note|
      .draft-container__draft
        - if note.header_image.url
          = link_to note_path(note) do
            .draft-container__header-image{ style: "background-image: url('#{note.header_image}')" }
        .draft-container__user-name
          = link_to user_path(@user.noteid) do
            .draft-container__profile-image{ style: "background-image: url('#{@user.image.url ? @user.image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_profile.png'}')" }
          .draft-container__profile
            %p{ style: 'font-weight: bold;' }
              = link_to @user.nickname, user_path(@user.noteid)
            %p{ style: 'color: #a1a6a9; font-size: 9px;' }
              = note.created_at_jp
          #likes-button-label
            下書き
        .draft-container__title
          = link_to note_path(note) do
            = note.title
        .draft-container__body
          = note.body.truncate(200)
        .draft-container__action
          = link_to note, method: :delete do
            %span
              削除
= render 'layouts/footer'