.main-header
  = render 'main_header'
  .main-header__inner-bottom
    %ul.category-tabs
      = link_to root_path do
        %li トップ
      = link_to '/' do
        %li マンガ
      = link_to '/' do
        %li コラム
      = link_to '/' do
        %li 小説
      = link_to '/' do
        %li 写真
      = link_to '/' do
        %li 音楽
    %ul.trend-hashtags
      - @tags.most_used(5).each do |tag|
        = link_to "/hashtag/#{tag}" do
          %li
            = "##{tag}"
.main-container
= render 'layouts/footer'
