.main-header
  = render 'main_header'
.hashtag-container
  .hashtag-container-wrapper
    .hashtag-container__name
      = "##{params[:id]}"
    = render 'note_list', notes: @notes
= render 'layouts/footer'
