.main-header
  = render 'main_header'
- if @note.is_draft && current_user?(@user)
  = render 'show_draft'
- else
  .note-show-container
    .note-show-container-wrapper
      - if @note.header_image.url
        .note-show-container__header-image{ style: "background-image: url('#{@note.header_image}')" }
      .note-show-container__user-name
        = link_to user_path(@user.noteid) do
          .note-show-container__profile-image{ style: "background-image: url('#{@user.image.url ? @user.image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_profile.png'}')" }
        .note-show-container__profile
          %p{ style: 'font-weight: bold;' }
            = link_to @user.nickname, user_path(@user.noteid)
          %p{ style: 'color: #a1a6a9; font-size: 9px;' }
            = @note.created_at_jp
            - if current_user?(@user)
              %span
                = link_to '削除', @note, method: :delete
        - if current_user?(@user)
          = link_to edit_note_path(@note) do
            %button.note-show-container__setting-button
              編集
      .note-show-container__title
        = @note.title
      .note-show-container__body
        - if !current_user?(@user) && !@is_purchased && @note.price > 0
          = raw(@note.body.truncate(100).gsub(/\n/, '<br>'))
          .note-show-container__paywall
            %p.paywall-text
              この続きを見るには
            %p.paywall-count
              = "(残り#{@note.body.length - 100}文字)"
            %p.paywall-text-guide
              %span
                ノートを購入する
            .paywall-buy-box
              .paywall-buy-box__image.fa.fa-pencil.fa-3x
              .paywall-buy-box__info
                %p.paywall-buy-box__title
                  = @note.title.truncate(12)
                %p.paywall-buy-box__nickname
                  = @user.nickname
                %p.paywall-buy-box__price
                  = "#{@note.price}円"
              .paywall-buy-box__button
                = link_to new_purchase_path(object_id: @note.id, category: :note) do
                  %button#buy-note-button
                    購入して続きを見る
        - else
          = raw(@note.body.gsub(/\n/, '<br>'))
      %ul.note-show-container__hashtags
        - @note.tag_list.each do |tag|
          = link_to "/hashtag/#{tag}" do
            %li
              = "##{tag}"
      .note-show-container__action
        = render 'favorites/favorite_button', note: @note
        .note-show-container__view-count
          .fa.fa-eye.fa-lg
          = @note.views
      .note-show-container__popular
        %p
          こちらもおすすめ
        %ul
          - @note.published.last(3).each do |note|
            %li
              = link_to note.title, note
      .note-show-container__pager
        - if @note.prev
          = link_to @note.prev do
            .note-show-container__pager-prev
              .fa.fa-chevron-left
              = @note.prev.title.truncate(20)
          - if @note.next
            = link_to @note.next do
              .note-show-container__pager-next
                = @note.next.title.truncate(20)
                .fa.fa-chevron-right
        - else
          - if @note.next
            = link_to @note.next do
              .note-show-container__pager-next-noprev
                = @note.next.title.truncate(20)
                .fa.fa-chevron-right
      .note-show-container__info
        .note-show-container__info-profile-wrapper
          = link_to user_path(@user.noteid) do
            .note-show-container__info-profile-image{ style: "background-image: url('#{@user.image.url ? @user.image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_profile.png'}')" }
          .note-show-container__info-container
            .note-show-container__info-user-name
              = link_to @user.nickname, user_path(@user.noteid)
            .note-show-container__info-description
              = @user.description
            - if user_signed_in?
              - unless current_user?(@user)
                .note-show-container__info-follow-button
                  = render 'relationships/follow_button', user: @user
      .note-show-container__comment
        .note-show-container__comment-count
          %span
            コメント
          = @comments.count
          %span
            件
        %ul.note-show-container__comment-list
          - @comments.each do |comment|
            %li
              = link_to user_path(comment.user.noteid) do
                .comment-profile-image{ style: "background-image: url('#{comment.user.image.url ? comment.user.image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_profile.png'}')" }
              .comment-container
                %p.comment-container__header
                  = link_to comment.user.nickname, user_path(comment.user.noteid), style: 'font-weight: bold'
                  &nbsp;
                  %span{ style: 'color: #a1a6a9; font-size: 9px;' }
                    = comment.created_at_jp
                %p.comment-container__body
                  = comment.text
        - if user_signed_in?
          = render 'comments/form', comment: @comment
= render 'layouts/footer'
