.sign-in-header
  = image_tag 'clonote_logo.svg'
.sign-in-container
  .sign-in-container__title
    clonoteに登録する
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'new-user-form' } do |f|
    = devise_error_messages!
    = f.hidden_field :nickname, value: 'New User'
    = f.hidden_field :noteid, value: ((0..9).to_a + ("a".."z").to_a + ("A".."Z").to_a).sample(10).join
    .input-field
      = f.email_field :email, placeholder: "メールアドレス", autofocus: true
    .input-field
      = f.password_field :password, placeholder: "パスワード", autocomplete: "off"
    .input-actions
      = f.submit "登録する (無料)"
  .sign-in-container__footer-links
    = render "devise/shared/links"
