= form_for @user, url: "/#{@user.noteid}", method: :patch do |f|
  .user-edit-header
    %label.user-edit-header__image-overlay
      = f.file_field :header_image, style: "display: none;"
      .user-edit-header__image-exists{ style: "background-image: url('#{@user.header_image.url ? @user.header_image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_wallpaper.png'}')" }
        .fa.fa-camera.fa-2x
          %p
            ヘッダー画像を変更
  .user-edit-container
    %label.user-edit-container__image-overlay
      = f.file_field :image, style: "display: none;"
      .user-edit-container__image{ style: "background-image: url('#{@user.image.url ? @user.image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_profile.png'}')" }
        .fa.fa-camera.fa-2x
    .user-edit-container__inner
      .user-edit-container__nickname
        = f.text_field :nickname, placeholder: 'ニックネーム'
      .user-edit-container__description
        = f.text_area :description, placeholder: 'あなたの自己紹介を書きましょう。(140字以内)', maxLength: '140'
      .user-edit-container__buttons
        = link_to user_path do
          %button
            キャンセル
        = f.submit '保存'
