.user-header
  .user-header__inner-top
    = link_to root_path do
      = image_tag 'clonote_logo.svg'
    = link_to new_note_path do
      %button.new-note-button
        ノートを投稿
  .user-header__inner-max-width-border
  .user-header__inner-center
    .user-profile-image
      - if @user.image
        = image_tag @user.image
    .user-profile-content
      %span.user-profile-content--username
        = @user.nickname
      %p.user-profile-content--description
        = @user.description
      = render 'follow_stats'
      = render 'follow_form'
  .user-header__inner-bottom
    %ul.user-category-tabs
      = link_to '/' do
        %li ホーム
      = link_to '/' do
        %li マガジン
.user-container
