.user-header
  .user-header__inner-top
    = link_to root_path do
      = image_tag 'clonote_logo.svg'
    = link_to new_note_path do
      %button.new-note-button
        ノートを投稿
  .user-header__inner-max-width-border
  .user-header__inner-center
    .user-profile-image
      = image_tag 'https://cdn1.iconfinder.com/data/icons/mini-solid-icons-vol-1/16/15-512.png'
    .user-profile-content
      %span.user-profile-content--username
        テストユーザー
      %br
      %span.user-profile-content--follow
        0 フォロー　 0 フォロワー
      = link_to '/' do
        %button.user-profile-content--setting
          設定
  .user-header__inner-bottom
    %ul.user-category-tabs
      = link_to '/' do
        %li ホーム
      = link_to '/' do
        %li マガジン
.user-container
