.user-header
  .main-header
    = render 'notes/main_header'
  .user-header__inner-max-width-border
  .user-header__inner-header-image{ style: "background-image: url('#{@user.header_image.url ? @user.header_image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_wallpaper.png'}')" }
  .user-header__inner-center
    .user-profile-image{ style: "background-image: url('#{@user.image.url ? @user.image : 'https://s3-ap-northeast-1.amazonaws.com/mxi/uploads/user/default_profile.png'}')" }
    .user-profile-content
      %span.user-profile-content--username
        = @user.nickname
      %p.user-profile-content--description
        = @user.description
      = render 'relationships/follow_stats', user: @user
      - if current_user?(@user)
        = link_to edit_user_path do
          %button.user-profile-content__setting-button
            設定
      - else
        - if user_signed_in?
          .user-profile-content__follow-button
            = render 'relationships/follow_button', user: @user
  .user-header__inner-bottom
    %ul.user-category-tabs
      = link_to user_path(@user.noteid) do
        %li ホーム
      = link_to '/' do
        %li マガジン
.user-container
  = render 'notes/note_list', notes: @notes
= render 'layouts/footer'
