.user-header
  = render 'notes/main_header'
  .user-header__inner-max-width-border
  - if @user.header_image.url
    .user-header__inner-header-image{ style: "background-image: url('#{@user.header_image}')" }
  .user-header__inner-center
    - if user_signed_in? && @user.image.url
      .user-profile-image{ style: "background-image: url('#{@user.image}')" }
    .user-profile-content
      %span.user-profile-content--username
        = @user.nickname
      %p.user-profile-content--description
        = @user.description
      = render 'relationships/follow_stats', user: @user
      - if current_user?(@user)
        = link_to edit_user_path do
          %button.setting-button
            設定
      - else
        - if user_signed_in?
          = render 'relationships/follow_form', user: @user
  .user-header__inner-bottom
    %ul.user-category-tabs
      = link_to '/' do
        %li ホーム
      = link_to '/' do
        %li マガジン
.user-container
= render 'layouts/footer'