.sign-in-header
  = image_tag 'clonote_logo.svg'
.sign-in-container
  .sign-in-container__title
    パスワード再設定
  = form_for resource, as: resource_name, url: password_path(resource_name), html: { class: 'new-user-form' } do |f|
    = devise_error_messages!
    .input-field
      = f.email_field :email, placeholder: "メールアドレス", autofocus: true
    .input-actions
      = f.submit "送信"
